<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="./stylesheets/reset.css" type="text/css" />
  <link rel="stylesheet" href="./stylesheets/home.css" type="text/css" />
  <title>{{ page.title }}</title>
</head>

<body>
<div class="page body">
  <div class="header">
    <h1><a href="http://emi.github.com">EMI Music Platform</a></h1>
  </div>
  <div class="content">
    {{ content }}
  </div>
</div>
<div class="page footer">
  <p>&copy; 2011, EMI Group Limited</p>
</div>
</body>
</html>

